# 4.9 Cleaning customer dataframe

### This script contains the following points:

#### 1. Check for inconsistent data
#### 2. Renaming columns for consistent titles
#### 3. Check for missing data
#### 4. Dropping unnecessary columns
#### 5. Check for duplicates

In [1]:
# Imports libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [6]:
# Path import

path = r'/Users/nekow/Documents/Instacart Basket Analysis'

In [7]:
# Importing customer dataframe

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [8]:
# viewing the new dataframe

df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## 1. Check for inconsistent data

In [9]:
# Testing for mixed data

for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print (col)

/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)

First Name

/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hs/djjm__mn4d33wxms4t4q0flh0000gp/T/ipykernel_41164/1612688305.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)

## 2. Renaming columns for consistent titles

In [10]:
# Renaming the Surname, State, Gender, Age, and First Name columns

df.rename(columns = {'Surnam' : 'last_name', 'STATE' : 'state', 'Gender' : 'gender', 'First Name', 'first_name'}, inplace = True)

SyntaxError: ':' expected after dictionary key (1826067763.py, line 3)

In [7]:
# Renaming the State column

df.rename(columns = {'STATE' : 'state'}, inplace = True)

## 3. Check for missing data

In [8]:
# Checking for missing values

df.isnull().sum()

user_id             0
First Name      11259
Last Name           0
Gender              0
State               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

## 4. Dropping unnecessary columns

In [9]:
# Dropping the unnecessary first name column

df.drop(columns = ['First Name'])

,user_id,Last Name,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...
206204,168073,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Noble,Female,New York,55,4/1/2020,1,married,57095

## 5. Check for duplicates

### No duplicates in this dataframe

In [10]:
# Checking the shape of the customer dataframe

df.shape

(206209, 10)

In [11]:
# Exporting the wrangled customer dataframe

df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cust_cleaned.csv'))