# 4.6 Pickle merged data folder

### This script contains the following points:

#### 1. Import the new pickle dataframe
#### 2. Merge new dataframe with products dataframe
#### 3. Export the new full dataframe

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating the path for imports
path = r'/Users/nekow/Documents/Instacart Basket Analysis'

## 1. Import the new pickle dataframe

### Step 3 of Exercise 4.6

In [8]:
# Importing the pickle file
df_ord_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

### Step 4 of Exercise 4.6

In [9]:
# Checking the shape
df_ord_prod_comb.shape

(32404859, 16)

In [10]:
df_ord_prod_comb.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [6]:
# Import products wrangled, cleaned, and deduped dataset
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 2. Merge new dataframe with products dataframe

### Step 5 of Exercise 4.6

In [7]:
# Merging orders and products
df_merged_products = df_prod.merge(df_ord_prod_comb, on = ['product_id'], indicator = True)

In [8]:
df_merged_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [9]:
df_merged_products.tail()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0,both
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,NaN,5,0,both
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0,both
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1,both
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0,both

In [10]:
df_merged_products.shape

(32404859, 16)

### Step 6 of Exercise 4.6

In [11]:
# Confirming the merge with the merge flag
df_merged_products['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## 3. Export the new dataframe

### Step 7 of Exercise 4.6

In [12]:
# Exporting the merged file as a pickle file
df_merged_products.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))